<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add New Flight</a>
    </nav>
   