<%- include('../partials/head.ejs') %>

<form class="new-destination" action="/flights/<%= flightId %>/tickets" method="POST">
  <label for="seat">Seat:
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>
  <label for="price">Price:
    <input type="number" name="price">
  </label><br>
  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer.ejs') %> 
