
body{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  font: 14px;
  color: rgba(60, 45, 124, 0.753);
}
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(60, 45, 124, 0.753);
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav h1{
  font-size: 3em;
}
.new-flight form{
  max-width: 100px;
  margin: 0 auto;
}

.new-flight label{
  display: block;
  margin-top: 24px;
}

.flight-details {
  width: 100%;
  margin: 5px 0;
  padding: 5px 0;
}

 li {
  list-style: none;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: #d3d3d3 1px solid;
  width: 100%;
}

.new-destination {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add-dest-btn {
  max-width: 150px;
}

input {
  margin: 5px 5px;
}

.flight-index {
  margin-top: 40px;
}

.flight-index > ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.detail {
  text-align: right;
}

.flight-details span {
  font-weight: bold;
}